main {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: #F9F5E3;
}

.chapterBox {
    display: flex;
    flex-direction: row-reverse;
}
/* .chapterBox:nth-child(odd) {
    grid-template-columns: 66% 33%;
}
.chapterBox:nth-child(even) {
    grid-template-columns: 33% 66%;
} */

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    padding: 0.7rem 2rem;
    background-color: #00AD34;
    border-radius: 2rem;
    width: 50%;
    margin: 0.25rem 0.25rem;
}

.imageBox {
    width: 50%;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0.25rem 0.25rem;
}
.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}