* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  margin: 0 auto;
  height: 60vh;
  /* border: 1px solid red; */
}
h1 {
  padding: 1rem;
  width: 100%;
  background-color: rgba(228, 228, 228, 0.588);
  /* border: 1px solid red; */
}
.h1-background {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: calc(1rem + 1vw);

  /* border: 1px solid green; */
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  /* border: 1px solid blue; */
}

.menubtns {
  background-color: #d27452;
  margin: 3rem;
  border: none;
  width: max-content;
  height: min-content;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  /* border: 1px solid green; */
}

.active {
  background-color: rgba(255, 255, 255, 0.649);
  box-shadow: 2px 2px 2px #fcb690dc;
}
